<div class="slider-wrapper">
    <input class="attack" type="range" min="0" max="1" value="0.1" step="0.05">
    <input class="decay" type="range" min="0" max="1" value="0.1" step="0.05">
    <input class="sustain" type="range" min="0" max="1" value="1" step="0.05">
    <input class="release" type="range" min="0" max="1" value="0.1" step="0.05">
</div>
