.description
  .beige.set
    .rama
      %h3.drop.cen LA RAMA
      .green.even
        This webstore is populated from the API data from the stores pre-existing listings on discogs.com. I then used my personal experiences collecting records to elegantly present the media
        .links
          %a.white{ href:"https://fierce-waters-95137.herokuapp.com/", target:"_blank"} Live
          .littleknob2
          .littleknob3
          .littleknob
          %a.white{ href:"https://github.com/Mcas4150/rekkids", target:"_blank"} Code
    .bella
      %h3.drop.cen ISABELLA
      .green.even
        Inspired by the aesthetic of Microsoft's infamous 'Blue Screen of Death', I created a unique artist page for a musician whose visceral sonic experiments instill similar shock and nostalgia
        .links
          %a.white{ href:"https://guarded-plains-27954.herokuapp.com/", target:"_blank"} Live
          .littleknob3
          .littleknob
          .littleknob2
          %a.white{ href:"https://github.com/Mcas4150/audible", target:"_blank"} Code
    .commons
      %h3.drop.cen COMMONS
      .green.even
        The "Anti-Airbnb", a community resource for creative and performance space rental using crowd-sourced postings to foster inspirational repurposing. Le Wagon final project
        .links
          %a.white{ href:"http://www.commons.fun/", target:"_blank"} Live
          .littleknob
          .littleknob2
          .littleknob3
          %a.white{ href:"https://github.com/Mcas4150/commons", target:"_blank"} Code
