.description
  .beige.set
    %h3.drop.cen PROJECTS
    .green.even
      .row.between.white
        .col-xs-4
          .pad.ramabutton.button-active La Rama
        .com-xs-4
          .pad.bellabutton Isabella
        .col-xs-4
          .pad.commonsbutton Commons
      .rama
        .blurb
          This webstore is populated from the API data from the stores pre-existing listings on discogs.com. I then used my personal experiences collecting records to elegantly present media
        .links
          %a.white.grey{ href:"https://fierce-waters-95137.herokuapp.com/", target:"_blank"} Live
          %a.white.grey{ href:"https://soundcloud.com/mike-cassidy-3", target:"_blank"} SoundCloud
          %a.white.grey{ href:"https://github.com/Mcas4150/rekkids", target:"_blank"} Code
      .bella
        .blurb
          Inspired by the aesthetic of Microsoft's infamous 'Blue Screen of Death', I created a unique artist page for a musician whose visceral sonic experiments instill similar shock
        .links
          %a.white.grey{ href:"https://guarded-plains-27954.herokuapp.com/", target:"_blank"} Live
          %a.white.grey{ href:"https://soundcloud.com/mike-cassidy-3", target:"_blank"} SoundCloud
          %a.white.grey{ href:"https://github.com/Mcas4150/audible", target:"_blank"} Code
      .commons
        .blurb
          The "Anti-Airbnb", a community resource for creative and performance space rental using crowd-sourced postings to foster inspirational repurposing.
        .links
          %a.white.grey{ href:"http://www.commons.fun/", target:"_blank"} Live
          %a.white.grey{ href:"https://soundcloud.com/mike-cassidy-3", target:"_blank"} SoundCloud
          %a.white.grey{ href:"https://github.com/Mcas4150/commons", target:"_blank"} Code
