<div class="description">
  <div class="beige">
    <h3 class="drop cen">INFO</h3>
      <div class="green rama">
          I built this website from the ground up by parsing the API data from the stores pre-existing listings on discogs.com. I then used my personal experiences collecting records to elegantly present the media in a format conducive to discovery and ultimately happy purchases

      </div>
      <div class="green bella">
         Using the infamous Microsoft Blue Screen of Death as aesthetic inspiration, I created a unique artist page for a musician whose visceral sonic experiments instill the same shock and nostalgia as a crashing computer.

      </div>
      <div class="green commons">
          The "Anti-Airbnb", a community resource for creative and performance space rentals. Le Wagon Bootcamp final project
      </div>
  </div>
</div>
