<div class="description">
  <div class="beige set">
    <div class="rama">
      <h3 class="drop cen">LA RAMA</h3>
        <div class="green">
            I built this website from the ground up by parsing the API data from the stores pre-existing listings on discogs.com. I then used my personal experiences collecting records to elegantly present the media <!-- in a format conducive to discovery and ultimately happy purchases -->

        </div>
    </div>
    <div class="bella">
      <h3 class="drop cen">ISABELLA</h3>
        <div class="green">
           Using the infamous Microsoft Blue Screen of Death as aesthetic inspiration, I created a unique artist page for a musician whose visceral sonic experiments instill the same shock and nostalgia as a crashing computer.

        </div>

    </div>
    <div class="commons">
      <h3 class="drop cen">COMMONS</h3>
        <div class="green">
            The "Anti-Airbnb", a community resource for creative and performance space rentals. Le Wagon Bootcamp final project
        </div>
    </div>
  </div>
</div>
