<div class="description">
  <div class="beige set">
    <div class="rama">
      <h3 class="drop cen">LA RAMA</h3>
        <div class="green">
          This webstore is populated from the API data from the stores pre-existing listings on discogs.com. I then used my personal experiences collecting records to elegantly present the media
        </div>
    </div>
    <div class="bella">
      <h3 class="drop cen">ISABELLA</h3>
        <div class="green">
           Inspired by the aesthetic of Microsoft's infamous "Blue Screen of Death", I created a unique artist page for a musician whose visceral sonic experiments instill similar shock and nostalgia
          <div class='links'>
            <a class="white" href="https://guarded-plains-27954.herokuapp.com/" target="_blank">Live</a>
            <a class="white" href="https://github.com/Mcas4150/audible" target="_blank">Code</a>
          </div>
        </div>

    </div>
    <div class="commons">
      <h3 class="drop cen">COMMONS</h3>
        <div class="green">
            The "Anti-Airbnb", a community resource for creative and performance space rentals. Le Wagon Bootcamp final project
        </div>
    </div>
  </div>
</div>
