<div class="experience">
  <div class="beige">
    <h3 class="drop cen">EXPERIENCE</h3>
       <div class="green">
          <div class='row rez'>
            <div class='col-xs-10 job'>
              <h6>Behavioral Health Works</h6>
              <h8>Applied Behavioral Analyst</h8>
            </div>
            <div class="col-xs-2 year">
            2017
            </div>
             <div class="col-xs-12">
              <div class="detail">Music therapy with austistic children</div>
             </div>
          </div>
          <div class='row rez'>
            <div class='col-xs-10 job'>
              <h6>Forced Exposure</h6>
              <h8>Shipping Clerk</h8>
            </div>
            <div class="col-xs-2 year">
            2016
            </div>
            <div class="col-xs-12">
              <div class="detail">Processed global distribution of music</div>
             </div>
          </div>
          <div class='row rez'>
            <div class='col-xs-10 job'>
              <h6>Girls Rock DC!</h6>
              <h8>Lead Audio Engineer</h8>
            </div>
            <div class="col-xs-2 year">
            2015
            </div>
            <div class="col-xs-12">
              <div class="detail">Sound engineer for all-girls rock camp</div>
             </div>
          </div>

         <!--  <div class='row rez'>
            <div class='col-xs-10 job'>
              <h6>American University</h6>
              <h8>Research Assitant</h8>
            </div>
            <div class="col-xs-2 year">
            2015
            </div>
          </div> -->
      </div>
  </div>
</div>
