<div class="experience">
  <div class="beige">
    <h3 class="drop cen">EXPERIENCE</h3>
       <div class="green">
          <div class='row'>
            <div class='col-xs-9'>
              <h6>Behavioral Health Works</h6>
              <h8>Applied Behavioral Analyst</h8>
            </div>
            <div class="col-xs-3">
            2017
            </div>
          </div>
          <div class='row'>
            <div class='col-xs-9'>
              <h6>Forced Exposure</h6>
              <h8>Shipping Clerk</h8>
            </div>
            <div class="col-xs-3">
            2016
            </div>
          </div>
          <div class='row'>
            <div class='col-xs-9'>
              <h6>Girls Rock DC!</h6>
              <h8>Lead Audio Engineer</h8>
            </div>
            <div class="col-xs-3">
            2016
            </div>
          </div>
      </div>
  </div>
</div>
