.row
  .col-sm-3.section
    .power.white
    .work.white Work
    .knob2.white
    .volunteer.white Volunteer
  .col-sm-9
    .experience
      .beige
        %h3.drop.cen EXPERIENCE
        .green
          .row.rez
            .col-xs-10.job
              %h6 Behavioral Health Works
              %h8 Applied Behavioral Analyst
            .col-xs-2.year
              2017
            .col-xs-12
              .detail Music therapy with autistic children
          .row.rez.top-border
            .col-xs-10.job
              %h6 Forced Exposure
              %h8 Shipping Clerk
            .col-xs-2.year
              2016
            .col-xs-12
              .detail Processed global distribution of music
          .row.rez.top-border
            .col-xs-10.job
              %h6 Girls Rock DC!
              %h8 Lead Audio Engineer
            .col-xs-2.year
              2015
            .col-xs-12
              .detail Sound engineer for all-girls rock camp

