.keys.desktop
  .key.key1
  .key.key2.black
  .key.key3
  .key.key4.black
  .key.key5
  .key.key6.black
  .key.key7
  .key.key8
  .key.key9.black
  .key.key10
  .key.key11.black
  .key.key12
  .key.key13
  .key.key14.black
  .key.key15
  .key.key16.black
  .key.key17
  .key.key18.black
  .key.key19
  .key.key20
  .key.key21.black
  .key.key22
  .key.key23.black
  .key.key24
  .key.key25
  .key.key26.black
  .key.key27
  .key.key28.black
  .key.key29
  .key.key30.black
  .key.key31




