<div class="keys desktop">
            <div class="key key1"></div>
            <div class="key key2 black"></div>
            <div class="key key3"></div>
            <div class="key key4 black"></div>
            <div class="key key5"></div>
            <div class="key key6 black"></div>
            <div class="key key7"></div>
            <div class="key key8"></div>
            <div class="key key9 black"></div>
            <div class="key key10"></div>
            <div class="key key11 black"></div>
            <div class="key key12"></div>
            <div class="key key13"></div>
            <div class="key key14 black"></div>
            <div class="key key15"></div>
            <div class="key key16 black"></div>
            <div class="key key17"></div>
            <div class="key key18 black"></div>
            <div class="key key19"></div>
            <div class="key key20"></div>
            <div class="key key21 black"></div>
            <div class="key key22"></div>
            <div class="key key23 black"></div>
            <div class="key key24"></div>
            <div class="key key25"></div>
            <div class="key key26 black"></div>
            <div class="key key27"></div>
            <div class="key key28 black"></div>
            <div class="key key29"></div>
            <div class="key key30 black"></div>
            <div class="key key31"></div>
</div>
