<form action="https://formspree.io/mikecassidy0000@gmail.com" method="POST">
                    <div class="pad"><input id="name" name="name" type="text" placeholder="name" required=""></div>
                    <div class="pad"><input id="email" name="_replyto" type="email" placeholder="email" required=""></div>
                    <input type="text" name="_gotcha" style="display:none">
                    <input type="hidden" name="_next" value="//mcas4150.github.io/">
                    <div class="pad"><textarea id="message" name="message" type="text" placeholder="message" required=""></textarea></div>
                    <div class="pad"><input id="sendButton" class="btn btn-default" type="submit" value="send" onclick="greet()"></div>
                  </form>
