<div class="contact">
  <div class="beige">
    <h3 class="drops cen">CONTACT</h3>
      <div class="green even2">
        <form action="https://formspree.io/mikecassidy0000@gmail.com" method="POST">
          <div class="pad"><input id="name" name="name" type="text" placeholder="Name" required=""></div>
          <div class="pad"><input id="email" name="_replyto" type="email" placeholder="Email" required=""></div>
          <input type="text" name="_gotcha" style="display:none">
          <input type="hidden" name="_next" value="//mcas4150.github.io/">
          <div class="pad none"><textarea id="message" name="message" type="text" placeholder="Message" required=""></textarea></div>
                    <div class="row between">
                      <a class="col-xs-4 github" href="https://www.github.com/mcas4150" target="_blank">Github</a>
                      <div class="col-xs-4 switch"></div>
                      <div class="col-xs-4 pad notop"><input id="sendButton" class="btn btn-default" type="submit" value="Send" onclick="greet()"></div>
                    </div>
                  </form>

        <!-- <div class="slidecontainer">
               <input type="range" min="0" max="100" value="50" class="slider" id="myRange">
               <div id="value"></div>
        </div> -->
    </div>
  </div>
</div>
