.projects
  .beige
    %h3.drop.cen PROJECTS
    .green
      .row
        .col-xs-4
          .fader
        .col-xs-4.white2
          .pad.ramabutton.button-active La Rama
          .pad.bellabutton Isabella
          .pad.commonsbutton Commons
        .col-xs-4
          .fader2
  .beige.soon
    %h3.drop.cen SOON
    .green.bottom
      = render "oscilloscope"


