<div class="projects">
            <div class="beige">
              <h3 class="drop cen">PROJECTS</h3>
                <div class="green">
                  <div class="row">
                    <div class="col-xs-4">
                      <div class="fader"></div>
                    </div>
                    <div class="col-xs-4 white2">
                      <div class="pad ramabutton button-active">La Rama</div>
                      <div class="pad bellabutton">Isabella</div>
                      <div class="pad commonsbutton">Commons</div>
                    </div>
                    <div class="col-xs-4">
                      <div class="fader2"></div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="beige soon">
              <h3 class="drop cen">SOON</h3>
                <div class="green bottom">
                  <div class="row">
                    <div class="col-xs-4">
                      <div class="knob3"></div>
                    </div>
                    <div class="col-xs-4">
                      <div class="pad2">Bean.Fm</div>
                      <div class="pad2">La Rama 2</div>
                    </div>
                    <div class="col-xs-4">
                      <div class="knob3"></div>
                    </div>
                  </div>
                </div>
            </div>
</div>
