.row
  .col-sm-3.section
    .white.toggle
    .white.education Education
    .white.knob
    .white.skills Skills
  .col-sm-9
    .knowledge
      .beige
        %h3.drop.cen SKILLSET
        .green
          .row.rez
            .col-xs-10.job
              %h6 Le Wagon Bootcamp
              %h8 Full-Stack Certificate
            .col-xs-2.year
              2017
          .row.rez
            .col-xs-10.job
              %h6 Career Foundry
              %h8 UX Design Certificate
            .col-xs-2.year
              2016
          .row.rez
            .col-xs-10.job
              %h6 American University
              %h8 B.A. Psychology
            .col-xs-2.year
              2015
          .col-xs-12.space
            %span Rails
            %span ES6
            %span React.js
            %span HTML/CSS
          .col-xs-12.space
            %span Redux
            %span Sketch
            %span Ableton
            %span Max/MSP


