
<div class="page-wrap">
  <div class="wrapper">
    <h1>Mike Cassidy</h1>
    <h3 class="pop">About</h3>
      <div class="text about">
          <div class="pad">Full-Stack developer</div>
          <div class="pad">Psychology BA</div>
          <div class="pad">Music encyclopedia</div>
          <div class="pad"><a href="https://github.com/Mcas4150">Github</a></div>

      </div>
    <h3 class="drop">Projects</h3>
      <div class="projects">
       <a class="pad" href="https://fierce-waters-95137.herokuapp.com/" target="_blank">La Rama</a>
        <div class="pad"><a href="https://guarded-plains-27954.herokuapp.com/" target="_blank">Isabella</a></div>
        <div class="pad"><a href="http://www.commons.fun/" target="_blank">Commons</a></div>
      </div>
    <h3>Art</h3>
    <h3>CV</h3>
    <h3 class="drops">Contact</h3>
      <div class="contact">
        <form action="https://formspree.io/mikecassidy0000@gmail.com" method="POST">
          <div class="pad"><input id="name" name="name" type="text" placeholder="Name" required=""></div>
          <div class="pad"><input id="email" name="_replyto" type="email" placeholder="Email" required=""></div>
          <input type="text" name="_gotcha" style="display:none">
          <input type="hidden" name="_next" value="//mcas4150.github.io/">
          <div class="pad"><textarea id="message" name="message" type="text" placeholder="Message" required=""></textarea></div>
          <div class="pad"><input id="sendButton" class="btn btn-default" type="submit" value="Send" onclick="greet()"></div>
        </form>
      </div>
  </div>
</div>


