<div class="page-wrap">
  <div class="left">
    <h1>Mike Cassidy</h1>
    <!-- <div class="image-wrap">
      <img src="https://i.imgur.com/UUqL0Pz.png">
    </div> -->
    <!-- <div class="image-wrap">
      <img src="https://i.imgur.com/Ebt11hT.png">
    </div> -->
    <!-- <div class="image-wrap">
      <img src="http://i.imgur.com/sqTosgi.jpg">
    </div> -->
    <a><h3>About</h3></a>
    <a class="drop"><h3>Projects</h3></a>
    <div class="projects">
      <p>La Rama</p>
      <p>Isabella</p>
      <p>Commons</p>
    </div>
    <a><h3>CV</h3></a>
    <a><h3>Contact</h3></a>
  </div>
  <div class="middle">

  <div class="middle-content">
    <div id="header" class="code2001 lrg">
      <div class="title-wrap">

     <!--    <div id="home" class="logo"><a href="http://www.havegoodposture.com">ğ•˜ğ„™ğ”’ğŒœ ğ™ğ• îš™ğ„ğ”™ï›—ğ©</a></div>
 -->
      </div>
    </div>
    <div class="current list-item text-large">
              <div class="title">
                <p>Isabella</p>
                            </div>
            </div>

    <div class="past">
      <div class="current list-item text-large">
        <div class="title">
          <p>La Rama</p>
        </div>
      </div>
      <div class="current list-item text-large">
        <div class="title">
            <p>Commons</p>
        </div>
      </div>
    </div>
  </div>
    <footer class="text-small index-footer">
    <p>
      Mike Cassidy
      <br>
      190 Pauline St, Winthrop, MA, 02152
      <br>
      <%=  mail_to('mikecassidy0000@gmail.com')%>
    </p>
  </footer>
  </div>

  <div class="right">
    <div class="text-medium">
      <div class="text">
        <p> A Full-Stack developer eager to dive into the professional world of coding after completing the Le Wagon coding bootcamp in Montreal. I am fascinated by the intersectionality of computer science, psychology, and music, especially in the fields of psychoacoustics, user experience design, human computer interaction, </p>
        <button>Github</button>
      </div>
    </div>
  </div>
</div>
