



<div class="page-wrap">
  <div class="wrapper">
    <h1>Mike Cassidy</h1>
      <div class="outline">
        <div class="beige">
          <h3 class="cen">ABOUT</h3>
            <div class="text green">
                <div class="pad">Resume</div>
                <div class="pad"><a href="https://github.com/Mcas4150">Github</a></div>

            </div>
        </div>
        <div class="beige">
          <h3 class="drop cen">PROJECTS</h3>
            <div class="green">
              <div class="pad"><a href="https://fierce-waters-95137.herokuapp.com/" target="_blank">La Rama</a></div>
              <div class="pad"><a href="https://guarded-plains-27954.herokuapp.com/" target="_blank">Isabella</a></div>
              <div class="pad"><a href="http://www.commons.fun/" target="_blank">Commons</a></div>
            </div>
        </div>
         <div class="beige">
          <h3 class="drops cen">CONTACT</h3>
            <div class="green">
              <form action="https://formspree.io/mikecassidy0000@gmail.com" method="POST">
                <div class="pad"><input id="name" name="name" type="text" placeholder="name" required=""></div>
                <div class="pad"><input id="email" name="_replyto" type="email" placeholder="email" required=""></div>
                <input type="text" name="_gotcha" style="display:none">
                <input type="hidden" name="_next" value="//mcas4150.github.io/">
                <div class="pad"><textarea id="message" name="message" type="text" placeholder="message" required=""></textarea></div>
                <div class="pad"><input id="sendButton" class="btn btn-default" type="submit" value="send" onclick="greet()"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
