
<div class="page-wrap">
  <div class="wrapper">
    <h1>Mike Cassidy</h1>
    <a class="pop"><h3>About</h3></a>
      <div class="text about">
        <p>
          Full-Stack developer
          <br>
          Psychology BA
          <br>
          Music encyclopedia
          <br>
          <a href="https://github.com/Mcas4150">Github</a>
        </p>
      </div>
    <a class="drop"><h3>Projects</h3></a>
      <div class="projects">
        <a href="https://fierce-waters-95137.herokuapp.com/" target="_blank">La Rama</a>
        <br>
        <a href="https://guarded-plains-27954.herokuapp.com/" target="_blank">Isabella</a>
        <br>
        <a href="http://www.commons.fun/" target="_blank">Commons</a>
      </div>
    <a href="/app/assets/images/mikecassidyresume.docx" download><h3>CV</h3></a>
    <a class="drops"><h3>Contact</h3></a>
      <div class="contact">
        <p>(617)448-0635</p>
        <p><%=  mail_to('mikecassidy0000@gmail.com')%></p>
      </div>
  </div>
</div>


