<div class="page-wrap">
  <div class="left">
    <div>
    <h1>Mike Cassidy</h1>
    <div class="text about">
        <p> is
        <br>
        a Full-Stack developer
        <br>
        a psychology BA
        <br>
        Music
        </p>
        <button>Github</button>
      </div>
  </div>
    <!-- <div class="image-wrap">
      <img src="https://i.imgur.com/UUqL0Pz.png">
    </div> -->
    <!-- <div class="image-wrap">
      <img src="https://i.imgur.com/Ebt11hT.png">
    </div> -->
    <!-- <div class="image-wrap">
      <img src="http://i.imgur.com/sqTosgi.jpg">
    </div> -->
    <a class="pop"><h3>About</h3></a>

    <a class="drop"><h3>Projects</h3></a>
    <div class="projects">
      <a href="fierce-waters-95137.herokuapp.com" target="_blank"><p>La Rama - record store</p></a>
      <a href="https://guarded-plains-27954.herokuapp.com/" target="_blank">Isabella - musician page</a>
      <a href="http://www.commons.fun/" target="_blank"><p>Commons - ARTbnb</p></a>
    </div>
    <a><h3>CV</h3></a>
    <a class="drops"><h3>Contact</h3></a>
    <div class="contact">
      <p>(617)448-0635</p>
      <p><%=  mail_to('mikecassidy0000@gmail.com')%></p>
    </div>
  </div>
  <div class="middle">


    <footer class="text-small index-footer">
  </footer>
  </div>

  <div class="right">
    <div class="text-medium">

    </div>
  </div>
</div>
