<div class="page">
  <div class="synthesizer">
    <div class="top-panel">
      <div class="row">
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-3 section">

              <div class="power white"></div>
              <div class="white ">
                Work
              </div>
              <div class="white knob2">
              </div>
              <div class="white">
                Volunteer
              </div>
            </div>
            <div class="col-sm-9">
              <%= render "experience"%>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="projects">
            <div class="beige">
              <h3 class="drop cen">PROJECTS</h3>
                <div class="green">
                  <div class="row">
                    <div class="col-xs-4">
                      <div class="fader"></div>
                    </div>
                    <div class="col-xs-4">
                      <div class="pad"><a class="ramabutton" href="https://fierce-waters-95137.herokuapp.com/"; target="_blank">La Rama</a></div>
                      <div class="pad"><a class="bellabutton" href="https://guarded-plains-27954.herokuapp.com/"; target="_blank">Isabella</a></div>
                      <div class="pad"><a class="commonsbutton" href="http://www.commons.fun/"; target="_blank">Commons</a></div>
                    </div>
                    <div class="col-xs-4">
                      <div class="fader2"></div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="beige">
              <h3 class="drop cen"></h3>
                <div class="green">
                  <div class="pad"><a href="https://fierce-waters-95137.herokuapp.com/"; target="_blank">Something</a></div>
                  <div class="pad"><a href="https://guarded-plains-27954.herokuapp.com/"; target="_blank">Something</a></div>
                </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <%= render "description" %>
        </div>
        <div class="col-sm-2">
          <div class="contact">
            <div class="beige">
              <h3 class="drops cen">CONTACT</h3>
                <div class="green">
                  <%= render 'mailer'%>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-panel">
      <div class="row">
        <div class="col-sm-4">

          <div class="row">
            <div class="col-sm-3 section">
              <div class="toggle white"></div>
              <div class="white">
                Education
              </div>

              <div class="white knob">
              </div>
              <div class="white">
                Skills
              </div>
            </div>
            <div class="col-sm-9">
              <%= render "skillset" %>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <!-- <div class="keyboard">
            <img class="stretch" src="https://i.imgur.com/rfDofrG.png">
          </div> -->
          <div class="keys">
            <div class="key key1"></div>
            <div class="key key2 black"></div>
            <div class="key key3"></div>
            <div class="key key4 black"></div>
            <div class="key key5"></div>
            <div class="key key6 black"></div>
            <div class="key key7"></div>
            <div class="key key8"></div>
            <div class="key key9 black"></div>
            <div class="key key10"></div>
            <div class="key black"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key black"></div>
            <div class="key"></div>
            <div class="key black"></div>
            <div class="key"></div>
            <div class="key black"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key black"></div>
            <div class="key"></div>
            <div class="key black"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key black"></div>
            <div class="key"></div>
            <div class="key black"></div>
            <div class="key"></div>
            <div class="key black"></div>
            <div class="key"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="leather"></div>

