@import "bootstrap";
@import "bootstrap-override";


/* STRUCTURE */

body {
  background-color: black;
  color: black;
  /*font-family: apercu, sans-serif;*/

}

.page{
  background-image: url('https://www.textures.com/system/gallery/photos/Substance/127273/Substance0079_10_download600.jpg');
  background-repeat: repeat;
}


  * {
  margin: 0;
  padding: 0;
  }

  html {
  overflow: hidden;
  }

  html, body {
  height: 100%;
  }

.pad{
  margin: 5px 0px;
  color: white;
  text-align: center;
}


.wrapper {
    padding: 0 0 50px 0;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

  .page-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  }


.outline {
  padding: -2px 5px;
  border-left: 3px solid white;
  border-right: 3px solid white;
}

.synthesizer{
  padding: 20px 40px;
}



.keyboard{
  background: white;
}

.white{
  border: 1.5px solid white;
  border-radius: 3px;
  color: white;
  padding: 5px;
  margin: 5px;
}

.description {
  height: 224px;
  padding: 0px 5px;
border-left: 3px solid white;
border-right: 3px solid white;
}

.contact, .projects, .experience, .knowledge {
  padding: 0px 5px;
}

.contact{
  border-right: 3px solid white;
}

.experience{
  border-right: 3px solid white;
}

.section{
  border-left: 3px solid white;
}

.keyboard{
  height: 224px;
  background-image: url('https://i.imgur.com/rfDofrG.png');
      background-size: cover;

    background-repeat: no-repeat;
}




.row{
  margin:0px;
}

.rez{
  margin-bottom: 7.5px;
}

.bottom-panel{
  margin-top:25px;
}

.year{
  width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white
}

.job{
  width:75%;
  line-height: 1;
}

.space{
  color: white;
  display: flex;
  justify-content: space-between;
}

.skill{
  width: 25%;
  color: white;
  font-size: .9em;
}

.detail{
  font-size: .8em;
  font-weight: 400;
}


.github{
  display: flex;
  justify-content: center;
  align-self: center;

    color: white;
    width: auto;
    border: 1.5px solid white;
    padding:3px;
    border-radius: 3px;
}

.github:hover{
  border: 1.5px solid black;
}

.between{
  justify-content: space-between;
}

a.github{
  color: black;

}



.first{
  margin-top: 30px;
}

.knob{
  background-image: url('https://i.imgur.com/EjFQA0o.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100px;
}

.switch{
     background-image: url('https://i.imgur.com/dCndRTi.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 35px;
    width: 50px;
    margin-top: 15px;
}

/*


.2

.experience, .knowledge{
  width: 33.333%;
}



.keyboard {
  width: 66.666%;
}





*/


.key {
    float: left;
    position: relative;
    width: 45px;
    height: 225px;
    margin: 0 2px 2px 0;
    background: #fff;
    border-radius: 0 0 4px 4px;
}

.key.pressed, .key:active {
    background: #f4f3f3;
    box-shadow: inset 3px 2px 3px #999, inset -3px 2px 3px #999;
}

.key.black {
    width: 0;
    margin: 0;
    z-index: 2;
}

.key.black:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -16px;
    display: block;
    width: 30px;
    height: 150px;
    background: #000;
    border-radius: 0 0 4px 4px;
    box-shadow: 1px 1px 0 #555, 2px 2px 0 #555;
}

.key.black:active:after {
    background-color: #222;
}





/* TYPOGRAPHY */

  a:link {
  text-decoration: none;
  color: white;
  cursor: pointer;
  }

  a:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
  }

  a{
    padding:5px 0px;
    color: white;
  }


  h3{
    color: black;
    font-weight: 400;
    margin: 0px;
    font-size: .85em;
  }



  h1 {
    color: white;

  }

  h6{
    margin:0px;
    color:white;
  }

  h8{
    font-size: .9em;
    font-weight: 500;
  }


  p > a {
    padding:0px;
  }
input, textarea {
  background-color: transparent;
  color: white;
  font: 400 1em system-ui;
      width: 100%;
  padding: 3px;
  margin-top: 3px;
  border: 1.5px solid white;
  border-radius: 3px;
}

.beige {
 background: #cabfb8;
border-radius: 7.5px;
margin: 3px;
padding:5px;

}


.green{
  background: #667966;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
}

.cen{
  text-align: center;
}


/*input:hover, textarea:hover {
  color: #247B7B;
}
*/

input#name{
  margin-top: 0p;
}

textarea {
    -webkit-appearance: textarea;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: none;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    height: 64px;
}

input:focus, textarea:focus {
    outline: -webkit-focus-ring-color auto 3px;
    outline-color: #cabfb8;
}

input::placeholder, textarea::placeholder{
  color: white;
}


#sendButton{
      display: block;
    color: white;
    width: auto;
    border: 1.5px solid white;
    padding:3px;
}

@media screen and (max-width: 778px) {

  html {
  overflow: auto;
  }



  footer {
  display: none;
  }

}
