
/* STRUCTURE */
body {
  background-color: ghostwhite;
  color: black;
  font-family: apercu, sans-serif;
}

  * {
  margin: 0;
  padding: 0;
  }

  html {
  overflow: hidden;
  }

  html, body {
  height: 100%;
  }

.wrapper {
    padding: 0 0 50px 0;
    max-width: 600px;
    margin: auto;
}

  .page-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  }

  .projects, .contact, .about{
    display: none;
  }

/* TYPOGRAPHY */

  a:link {
  text-decoration: none;
  color: #5c2f8c;
  cursor: pointer;
  }

  a:hover {
  text-decoration: none;
  color: tomato;
  cursor: pointer;
  }

  a{
    padding:3px;
  }


  h3{
    color: #247B7B;
  }

  p, h1 {
    color: #5c2f8c;
  }

input, textarea {
  background-color: ghostwhite;
  border: none;
  font: 400 1em system-ui;
  width: 100%;
}

textarea {
    -webkit-appearance: textarea;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: none;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 0px;
    height: 54px;
}

input:focus, textarea:focus {
    outline: -webkit-focus-ring-color auto 3px;
    outline-color: #5c2f8c;
}

#sendButton{
      display: block;
    color: #247B7B;
    width: auto;
    border: 1.5px solid #6a6a6a;
    padding:3px;
}

@media screen and (max-width: 778px) {

  html {
  overflow: auto;
  }



  footer {
  display: none;
  }

}
