
/* STRUCTURE */
body {
  background-color: ghostwhite;
  color: black;
  font-family: apercu, sans-serif;
}

  * {
  margin: 0;
  padding: 0;
  }

  html {
  overflow: hidden;
  }

  html, body {
  height: 100%;
  }

.wrapper {
    padding: 0 0 50px 0;
    max-width: 600px;
    margin: auto;
}

  .page-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  }

  .projects, .contact, .about{
    display: none;
  }

/* TYPOGRAPHY */

  a:link {
  text-decoration: none;
  color: #247B7B;
  cursor: pointer;
  }

  a:hover {
  text-decoration: none;
  color: tomato;
  cursor: pointer;
  }

  h3{
    color: #247B7B;
  }

  p {
    color: #5c2f8c;
  }



@media screen and (max-width: 778px) {

  html {
  overflow: auto;
  }



  footer {
  display: none;
  }

}
