@import "bootstrap";
@import "bootstrap-override";
@import "keyboard";
@import "images";
@import "mailer";
@import "font";
@import "slider";


/* STRUCTURE */
 * {
  margin: 0;
  padding: 0;
  }

  html {
  overflow: auto;
  }

  html, body {
  height: 100%;
  width:100%;
  }

body {
  color: black;
  background-image: url('https://i.imgur.com/xQayneY.png');
  font-family: "Orbitron";
  /*font-family: apercu, sans-serif;*/

}

.page{
  font-family: "Quantico";
    display: flex;
    justify-content: center;
    align-self:center;

}

.case{
  background-color: black;
   margin-top: 30px;
      min-width: 1237px;
      max-width: 1310px;
      box-shadow: 2px 8px 18px black;
          margin-left: 20px;
    margin-right: 20px;
}

.synthesizer{
      margin-left: 20px;
    margin-top: 18px;
    margin-right: 20px;
      min-width: 1217px;
      max-width: 1290px;
      background-image: url('https://www.textures.com/system/gallery/photos/Substance/127273/Substance0079_10_download600.jpg');
  background-repeat: repeat;
}

.col-xs-4{
  width:33.333%;
}

.pad{
  margin: 5px 0px;
  color: white;
  text-align: center;
}

.pad2{
  margin: 0px;
  color: white;
  text-align: center;
}

.none{
  margin-bottom: 0px;
}




.outline {
  padding: -2px 5px;
  border-left: 3px solid white;
  border-right: 3px solid white;
}



.white{
  border: 1.5px solid white;
  border-radius: 3px;
  color: white;
  padding: 5px;
  margin: 5px;
  text-align:center;
  font-family: "Orbitron";
    font-size: .9em;
}

.white2{
      border: 1.5px solid white;
    border-radius: 3px;
    color: white;
       padding-left: 2px;
    padding-right: 2px;
    text-align: center;
}


.green{
  background: #667966;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
}

.beige {
 background: #cabfb8;
border-radius: 7.5px;
margin: 3px;
padding:5px;

}


.description {
  max-width: 321px;
  height: 242px;
  padding: 0px 5px;
border-left: 3px solid white;
border-right: 3px solid white;
}



.contact, .projects, .experience, .knowledge {
  padding: 0px 5px;
}

.knowledge{
  min-width: 285px;
}

.contact{
  min-width: 200px;
  max-width: 210px;
  border-right: 3px solid white;
}

.projects{
  min-width: 285px;
}

.experience{
  min-width: 285px;
  border-right: 3px solid white;
}

.section{
  border-left: 3px solid white;
}


.row{
  margin:0px;
}

.rez{
  margin-bottom: 5px;
  padding-top:2.5px;
}


.top-border{
  border-top: 2px solid white;
}


.title-panel, .top-panel, .middle-panel, .bottom-panel{
  max-width: 1290px;
}


.title-panel{
  height: 35px;
  width:100%;
  display: flex;
    justify-content: space-between;
    align-items: center;
}


.middle-panel{
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-panel{
  margin-bottom: 10px;
}


.visualizer{
  border-radius: 3px;
}


.model{
      padding-left: 5px;
  font-size: 1.3em;
  font-family: 'Orbitron', monospace;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.small{
  font-size:.7em;
}



.year{
  width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white
}

.job{
  width:75%;
  line-height: 1;
}

.space{
  color: white;
  display: flex;
  justify-content: space-between;
}

.skill{
  width: 25%;
  color: white;
  font-size: .9em;
}

.detail{
  font-size: .8em;
  font-weight: 400;
  padding-top: 2px;
}

.even{
  height: 205px;
}


.between{
  height: 37px;
  justify-content: space-between;
  align-items: center;
}


.bellabutton, .commonsbutton, .ramabutton{
  cursor: pointer;
}


.set{
  min-height: 242px;
}


.cen{
  text-align: center;
}

.bottom{
  height: 62px;
  margin-top: 0px;
}

.player{
  height: 50px;
  width: 400px;
}

.bella, .commons, .mobile{
  display:none;
}


.button-active{
  color: black;
}

.links{
display: flex;
justify-content: space-between;
}

@media screen and (max-width:1300px){
// body, .btn{
// font-size: .8rem;
// }
h6{
  font-size: .85rem;
}
  .page{
    display:block;
  }
}



@media screen and (max-width:575px){
.knob, .knob2, .toggle, .power, .middle-panel, .skills, .education, .volunteer, .work, .section, .soon, .desktop, .screw, .small, .version{
    display:none;
  }

  .page{
    display:flex;
  }

  .switch{
    background-size: 76%;
    height: 25px;
  }

  .experience, .projects, .contact, .knowledge {
    border-left: 3px solid white;
    border-right: 3px solid white;
}

  .contact{
    max-width: 305px;
  }

  .synthesizer{
    min-width:305px;
    max-width:305px;
    margin-top:10px;
    margin-left:12px;
    margin-right:10px;
  }

  .model{
    font-size:1.2em;
    font-weight: bold;
  }

  .robot{
    margin-left: 10px;
    margin-bottom: 3px;
  }

  .case{
    min-width:330px;
    max-width:330px;
  }

  .mobile{
    display: block;
  }

  .key{
    width: 38px;
  }

  .keys{
    padding-left: 11px;
    padding-right: 11px;
  }

}
