  a:link {
  display: flex;
  justify-content: center;
  align-self: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
  }

  a:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
  }

  a{
    padding:5px 0px;
    color: white;
  }


  h3{
    color: black;
    font-weight: 600;
    margin: 0px;
    font-size: .85em;
    font-family: "Orbitron";
  }



  h1 {
    color: white;

  }

  h6{
    margin:0px;
    color:white;
  }

  h8{
    font-size: .9em;
    font-weight: 500;
  }


  p > a {
    padding:0px;
  }

