fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
legend {
  font-size: 0.75rem;
    padding: 0;
    margin: 0;
}
label {
    font-size: 0.7rem;
    cursor: pointer;
    display: block;
    float: left;
    margin-bottom: 0.05rem;
    background-color: #ccc;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: #666;
    background-image: -moz-linear-gradient(rgba(255,255,255,.2), rgba(0,0,0,.2));
    background-image: -webkit-linear-gradient(rgba(255,255,255,.2), rgba(0,0,0,.2));
    background-image: linear-gradient(rgba(255,255,255,.2), rgba(0,0,0,.2));
    box-shadow: 1px 1px 1px rgba(255,255,255,.2) inset, -1px -1px 1px rgba(0,0,0,.2) inset;
}
label:first-child {
    border-left-width: 1px;
    border-top-left-radius: .2em;
    border-bottom-left-radius: .2em;
}
label:last-child {
    border-top-right-radius: .2em;
    border-bottom-right-radius: .2em;
}

label.selected {
        background-color: #c1c1c1;
    color: black;
    border-color: #666;
    background-image: -moz-linear-gradient(rgba(0,0,0,.2), rgba(255,255,255,.2));
    background-image: -webkit-linear-gradient(rgba(0,0,0,.2), rgba(255,255,255,.2));
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(255,255,255,.2));
    box-shadow: 1px 1px 1px rgba(0,0,0,.2) inset;
}

// input[type="radio"]:checked ~ label {
//         background-color: #c1c1c1;
//     color: black;
//     border-color: #666;
//     background-image: -moz-linear-gradient(rgba(0,0,0,.2), rgba(255,255,255,.2));
//     background-image: -webkit-linear-gradient(rgba(0,0,0,.2), rgba(255,255,255,.2));
//     background-image: linear-gradient(rgba(0,0,0,.2), rgba(255,255,255,.2));
//     box-shadow: 1px 1px 1px rgba(0,0,0,.2) inset;
// }


input[type="radio"] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}



.knob{
  background-image: url('https://i.imgur.com/EjFQA0o.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100px;
}

.switch{
     background-image: url('https://i.imgur.com/dCndRTi.png');
    background-repeat: no-repeat;
        background-size: 95%;
    background-position: center;
    height: 35px;
    width: 50px;

}

.leather{
  background-image: url('https://i.imgur.com/NujeAyr.png');
   background-size: 100%;
    background-repeat: repeat;
  width:100%;
  height: 30px;

}

.knob2{
  background-image: url('https://i.imgur.com/8eoE6nm.gif');
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius:50%;
  height:75px;
  width:75px;

}

.power{
  background-image: url('https://i.imgur.com/bov7ydy.png');
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  height: 30px;
}

.toggle{
    background-image: url('https://i.imgur.com/eOnCQvr.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  height: 30px;
}

.screw{
 background-image: url('https://i.imgur.com/OUhnW7W.png');
  background-size: 100%;
  // background-position: center;
  background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-bottom: 5px;
    margin-left:10px;
}

.fader{
background-image: url('https://i.imgur.com/xNZRiiX.png');
}

.fader2{
 background-image: url('https://i.imgur.com/4BO0JVC.png');
}

.fader, .fader2{
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
}


.littleknob{
   background-image: url('https://i.imgur.com/93YHhgo.png');
       background-size: 80%;
    background-repeat: no-repeat;
   background-position: center;
     height: 50px;
    width: 50px;
    border-radius:50%;
}

.littleknob2{
   background-image: url('https://i.imgur.com/trZ2Btg.png');
       background-size: 80%;
    background-repeat: no-repeat;
   background-position: center;
     height: 50px;
    width: 50px;
    border-radius:50%;
}

.littleknob3{
   background-image: url('https://i.imgur.com/2TvQ3n6.png');
       background-size: 80%;
    background-repeat: no-repeat;
   background-position: center;
     height: 50px;
    width: 50px;
    border-radius:50%;
}

.knob3{
   background-image: url('https://i.imgur.com/UtAZrRl.png');
     background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
}

.knob4{
   background-image: url('https://i.imgur.com/RjoMJSs.png');
     background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
}


.robot{
  background-image: url('https://i.imgur.com/PsPRGCL.png');
    background-size: 100%;
  // background-position: center;
  background-repeat: no-repeat;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  height: 25px;
  width: 150px;
}
