.synthesizer{
  margin-top: 25px;
      min-width: 1217px;
      max-width: 1290px;
      background-image: url('https://www.textures.com/system/gallery/photos/Substance/127273/Substance0079_10_download600.jpg');
  background-repeat: repeat;
}


.knob{
  background-image: url('https://i.imgur.com/EjFQA0o.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100px;
}

.switch{
     background-image: url('https://i.imgur.com/dCndRTi.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 35px;
    width: 50px;
    margin-top: 10px;
}

.leather{
  background-image: url('https://i.imgur.com/NujeAyr.png');
   background-size: 100%;
    background-repeat: repeat;
  width:100%;
  height: 30px;

}

.knob2{
  background-image: url('https://i.imgur.com/Ina3quf.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100px;
}

.power{
  background-image: url('https://i.imgur.com/bov7ydy.png');
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  height: 30px;
}

.toggle{
    background-image: url('https://i.imgur.com/eOnCQvr.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  height: 30px;
}

.screw{
 background-image: url('https://i.imgur.com/OUhnW7W.png');
  background-size: 100%;
  // background-position: center;
  background-repeat: no-repeat;
  height: 15px;
}

.fader{
background-image: url('https://i.imgur.com/xNZRiiX.png');
}

.fader2{
 background-image: url('https://i.imgur.com/4BO0JVC.png');
}

.fader, .fader2{
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
}

.robot{
  background-image: url('https://i.imgur.com/PsPRGCL.png');
    background-size: 100%;
  // background-position: center;
  background-repeat: no-repeat;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  height: 25px;
  width: 150px;
}
