input, textarea {
  background-color: transparent;
  color: white;
  font: 400 1em system-ui;
      width: 100%;
  padding: 3px;
  margin-top: 3px;
  border: 1.5px solid white;
  border-radius: 3px;
  font-family: "Quantico";
}

input#name{
  margin-top: 0p;
}

textarea {
    -webkit-appearance: textarea;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: none;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    height: 64px;
}

input:focus, textarea:focus {
    outline: -webkit-focus-ring-color auto 3px;
    outline-color: #cabfb8;
}

input::placeholder, textarea::placeholder{
  color: white;
}

.notop{
  margin-top:0px;
}

#sendButton{
      display: block;
    color: white;
    width: auto;
    border: 1.5px solid white;
    padding:3px;
}



.github{
  display: flex;
  justify-content: center;
  align-self: center;

    color: white;
    width: auto;
    border: 1.5px solid white;
    padding:3px;
    border-radius: 3px;
}

.github:hover{
  border: 1.5px solid black;
}

a.github{
  color: black;

}
